@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Mengatur z-index agar tetap di atas elemen lain */
  transition: background-color 0.3s ease; /* Efek transisi untuk perubahan warna latar belakang */
}
.parallax-container {
  position: relative;
  height: 300px; /* Sesuaikan dengan tinggi yang diinginkan */
  overflow: hidden;
}

.parallax-background {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -50px; /* Atur pergeseran ke bawah yang diinginkan */
  right: 0;
  z-index: -1;
  transform: scale(1.2); /* Sesuaikan dengan faktor skala yang diinginkan */
  transition: transform 0.3s ease-in-out; /* Animasi ketika skala berubah */
}

.parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: center;
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
